<?xml version="1.0"?>
<launch>
	<arg name="model" default='$(find-pkg-share diff_drive_control)/urdf/rwd.xacro'/>
	<arg name="gui" default="False"/>
	<arg name="rviz" default="True"/>

	<param name="robot_description" command="xacro $(arg model)"/>
	<param name="use_gui" value="$(arg gui)"/>

	<rosparam
		command="load"
		file="$(find-pkg-share diff_drive_control)/config/rwd_diff_controller.yaml"
	/>

	<include file="$(find-pkg-share gazebo_ros)/launch/empty_world.launch"/>
	<!-- <node
		name="controller_kinematics"
		pkg="diff_drive_control"
		type="controller_kinematics"
	/> -->
	<node
		name="joint_state_publisher"
		pkg="joint_state_publisher"
		type="joint_state_publisher"
	/>
	<node
		name="robot_state_publisher"
		pkg="robot_state_publisher"
		type="robot_state_publisher"
	/>
	<node
		if="$(arg rviz)"
		name="rviz"
		pkg="rviz"
		type="rviz"
		args="-d $(find-pkg-share robot)/config/robot-config.rviz"
		required="true"
	/>
	<node
		name="spawn_urdf"
		pkg="gazebo_ros"
		type="spawn_model"
		args="-param robot_description -urdf -model diff_drive_control"
	/>
	<node
		name="controller_spawner"
		pkg="controller_manager"
		type="spawner"
		respawn="false"
		output="screen"
		ns="/rwd_diff_controller"
	 />
</launch>